#animewaifu-talks {
  text-shadow: 2px 2px 4px rgba(255, 152, 0, 0.7);
}

#loading-text {
  width: 85%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
  border-radius: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Chakra Petch', sans-serif;
}
