

body {
    font-family: "Lekton", sans-serif;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;

    background: url(./waifu.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

.colorful-text {
    animation: colorful 5s infinite;
  }

  @keyframes colorful {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: purple; }
    100% { color: orange; }
  }

p {
    font-size: 30px;
    margin-bottom: 30px;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #4c00ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #150333;
}
.link {
    color: red;
    font-size: 1.5em;
}


body, h1, p, .link {
    animation: glow 1.5s infinite alternate; /* Apply the glow animation */
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #e8ec00; /* Initial shadow */
    }
    to {
        text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white; /* Final shadow */
    }
}
