*{
  user-select: none;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: black;
}

#swipe-container {
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-size: cover; /* Default for mobile */
  background-position: center;
  background-repeat: no-repeat; /* Prevent tiling */
  text-align: center;
  line-height: 100vh;
  font-size: 20px;
  transition: background-image 0.3s ease;
  position: relative;
  /* transition: background-image 0.5s ease-in-out; */
}

#swipe-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: "Bungee Spice", serif;

}


#preloader {
  position: fixed; 
  top: -36%;       
  right: 9px;      
  display: none;    
}


#preloader img {
  width: 40px;
  height: 40px;
}


#swipe-container.loading #swipe-text {
  display: none;
}


@media (min-width: 768px) {
  #swipe-container {
    background-size: contain; 
  }

  #swipe-text {
    font-size: 24px; 
  }
}

@media (min-width: 1200px) {
  #swipe-container {
    font-size: 28px; 
  }

  #preloader img {
    width: 60px; 
    height: 60px;
  }

}


